@media screen and (max-width: 600px) {
  .logo-link img {
    width: 60%;
    padding: 10px;
  }

  .hero video,
  .info img {
    width: 100%;
  }

  .typing {
    width: 100%;
    font-size: 2rem;
    padding: 1rem;
    top: 25%;
  }

  .c-hero img {
    width: 15rem;
  }

  .text {
    font-size: 1rem; /* Reduce font size for smaller screens */
  }

  .hero {
    display: flex;
    flex-direction: column;
  }

  .searchbar {
    width: 70%;
    align-self: center;
  }

  .searchbar input {
    width: 100%; /* Full width */
  }

  .cards {
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 2rem 0;
    margin: 0;
  }

  .info {
    flex-direction: column;
    gap: 20px;
    padding: 4rem;
    margin: 0;
    text-align: center;
  }

  .bottom {
    grid-template-columns: 1fr;
  }

  .b-info {
    padding-bottom: 50px;
  }

  .bottom-container {
    width: auto; /* Auto width for mobile */
    text-align: center; /* Center text */
  }

  form input,
  textarea,
  form button {
    width: 100%; /* Full width */
  }

  form button {
    margin: 1rem 0; /* Space above and below */
  }

  footer p {
    text-align: center; /* Center footer text */
  }
}
